<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php" colors="true">

    <testsuites>
        <testsuite name="Akamon Behat ApiContext Test Suite">
            <directory suffix="Test.php">./src/Akamon/Behat/ApiContext/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/Akamon/Behat/ApiContext</directory>
            <exclude>
                <directory>./src/Akamon/Behat/ApiContext/Tests</directory>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
    </listeners>
</phpunit>
